*{
  padding: 0px;
  margin: 0px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;

}
button{
  background-color:rgb(240, 201, 25);
  margin-top: 20px;
  height: 20px;
}
input{
  width: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  margin-left: 20px;
  color:rgb(62, 27, 216);
}
fieldset{
  padding: 10px;
  width:400px;
  margin: 30px;
  border-color: red;
}
ol{
  margin-left: 50px;
}
label{
  margin-left: 30px;
}
legend{
  color:red;
}

